<div #toolInfo *ngIf="tool">

	<ol>
		<li>
			<label i18n="Name:|Boutiques tool name label@@boutiquesToolName">Name:</label>
			<span class="right-col">{{tool.name}}</span>
		</li> 
		<li>
			<label i18n="Description:|Boutiques tool description label@@boutiquesToolDescription">Description:</label>
			<span class="right-col">{{tool.description}}</span>
		</li> 
		<li>
			<label i18n="Tags:|Boutiques tool tags label@@boutiquesToolTags">Tags:</label>
			<span class="right-col">{{tool.tags}}</span>
		</li>
	</ol>
	
</div>