<form *ngIf="form" [formGroup]="form">

  <div id="required-parameters">
    <h3>Required parameters</h3>
    <parameter-group *ngFor="let parameterGroup of parameterGroups['required'] | keyvalue" [parameterGroup]="parameterGroup.value" [formGroup]="form.controls['required'].controls[parameterGroup.key]"></parameter-group>
  </div>

  <div id="optional-parameters">
    <h3>Optional parameters</h3>
    <parameter-group *ngFor="let parameterGroup of parameterGroups['optional'] | keyvalue" [parameterGroup]="parameterGroup.value" [formGroup]="form.controls['optional'].controls[parameterGroup.key]"></parameter-group>
  </div>

</form>