<div [formGroup]="formGroup" [class]="'invocation-gui-parameter parameter-' + parameter.type | lowercase">
  
  <label [attr.for]="'invocation-gui-parameter-' + parameter.id" [class]="">{{parameter.name}}</label>

  <input #parameterInput [formControlName]="parameter.id" [id]="'invocation-gui-parameter-' + parameter.id" [type]="parameter.inputType" [checked]="parameter.value" (change)="onChange($event.target)">

  <button *ngIf="parameter.type == 'File'" (click)="selectData">Select data</button>

  <button *ngIf="parameter.optional" (click)="onUnset($event)">Unset</button>

</div>